html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Regular"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-SemiBold"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Bold"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;

}

/* Global */
.list-reset {
    padding: 0;
    list-style: none;

}

.flex {
    display: flex;
}

.container {
    max-width: 1920px;
    padding: 0 160px;
    margin: 0 auto;
}

.section {
    margin-bottom: 80px;
}

:root {
    --white: #FFFFFF;
    --purple: #9D5CD0;
    --light-purple: #D1A9F0;
    --violet: #7943A4;
    --dark-grey: #333333;
    --grey: #999999;
    --light-grey: #ECECEC;
    --black: #000000;

}

/* Header */
.header {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.header__top {
    background: var(--black);
    padding: 28px 160px;
    align-items: center;
    height: 95px;
}

.header__logo {
    width: 29%;
}

.header__nav {
    width: 96%;
}

.header__nav-list {
    flex-wrap: wrap;
}

.header__nav-list-item-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
}

.header__nav-list-item-link:hover,
.header__bottom-list-btn:hover 
 {

    background-color: var(--violet);

}

.header__nav-list-item-link:focus,
.header__bottom-list-btn:focus {
    background: none;
    color: #c283f3;

}

.header__nav-list-item-link:active,
.header__bottom-list-btn:active {
    background: none;
    color: var(--violet);

}


.header__link-enter {
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    background-image: url('../img/enter.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 27px;

}

.header__link-enter:hover {
    background: var(--violet);
    background-image: url('../img/enter.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 27px;

}

.header__link-enter:focus {
    background: none;
    color: var(--violet);


}

.header__nav-list-item:not(:last-child) {
    margin-right: 62px;
}

.header__bottom {
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 160px;
    align-items: center;
    justify-content: space-between;
    height: 71px;
}

.header__bottom-list {

    flex-wrap: wrap;
}

.header__bottom-list-item:not(:last-child) {
    margin-right: 99px;
}

.header__bottom-list-item {
    position: relative;
}

.dropdown {
    /* display: none; */
    position: absolute;
    z-index: 150;
    background: rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 300px;
    padding: 40px;
    top: 46px;
    right: -100px;


    opacity: 0;
    visibility: hidden;
    transform: scale(0.8) translate(-50px, -20px);

    transition-property: opacity, visibility, transform;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.dropdown.is-disabled {
    display: block;
    animation-name: dropdownClose;
    animation-duration: 0.4s;
}

.simplebar-content-wrapper {
    overflow: auto;
}


.simplebar-scrollbar::before {
    width: 2px;
    height: 28px;
    background: var(--white);
}

.header__bottom-list-btn {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}





.header__bottom-list-btn::after {
    content: '';
    display: inline-block;
    border-bottom: 1px solid var(--white);
    border-right: 1px solid var(--white);
    width: 10px;
    height: 10px;
    position: absolute;
    right: -17px;
    top: 5px;

    transform: rotate(45deg);
    transition: transform 0.5s ease;
    transform-origin: cente;
}
.header__bottom-list-btn.is-active::after {
    transform: rotate(224deg);
    top: 11px;
    
}


.header__bottom-dropdown-item {
    
    padding: 9px 114px 12px 14px;

}

.header__bottom-dropdown-item:not(:last-child) {
    margin-bottom: 20px;
}

.header__bottom-dropdown-item:hover,
.header__bottom-dropdown-item:focus {
    border: 2px solid var(--purple);

}

.header__bottom-dropdown-item:active {
    border: 2px solid var(--light-purple);

    background-color: #C283F366;

}

.active-dropdown {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.header__bottom-dropdown-link {
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;

}


.header__search {
    background: none;
    outline: none;
    outline-offset: 0;
    border: none;
    border-bottom: 1px solid var(--white);
    width: 210px;
    padding: 3px;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-right: 7px;

    color: rgba(255, 255, 255, 0.85);
}

.header__search:hover,
.header__search:focus,
.header__search:active {
    border-bottom: 1px solid var(--violet);
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.btn-search {
    border: none;
    background: none;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 28px;
    padding-right: 27px;

    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* Hero */
.hero {
    margin-bottom: 221px;
    position: relative;
}

.hero__container {
    position: relative;
}
.hero .hero__swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -122px;
}
.hero__swiper-wrapper {
    position: relative;
}
.hero__swiper {
    max-width: 100%;
    animation-name: resize;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.hero__swiper-slide {
    background-color: #666666;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__content {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    z-index: 93;
    padding-top: 182px;
    padding-left: 162px;
    
}

.hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 88px;
    max-width: 597px;
    color: var(--white);
  
    margin-bottom: 0;
}

.hero__descr {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    max-width: 579px;
    color: var(--white);
    margin-bottom: 89px;
}

.hero__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background: var(--purple);
    padding: 22px 35px;
    border: none;
    border-radius: 100px;
    color: var(--white);
    cursor: pointer;
}

.hero__btn:hover {
    background: #9D5CD0;
    border: 3px solid #D1A9F0;
    border-radius: 100px;
}

.hero__btn:focus {
    background: #9D5CD0;
    border-style: double;
}

.hero__btn:active {
    background: #7943A4;
    border: 3px solid #D1A9F0;
    border-radius: 100px;
}
@keyframes resize {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.1);
    }
  }

/* About */
.about {
    margin-bottom: 69px;
}

.about__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    color: var(--dark-grey);
    margin-top: -19px;
    margin-bottom: 0;
}

.about__descr {
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    color: var(--dark-grey);
    width: 1080px;
}

/* Galery */
.gallery {
    background: url('../img/galery-bg.jpg');
}

.gallery__container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.gallery__filter {
    margin-right: 50px;
}

.gallery__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--white);
    margin-top: 0;
}

.gallery__filter-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--white);
    margin-top: -29px;
    margin-bottom: 13px;
}

.gallery__swiper {
    width: 1110px;
}




.choices__list--dropdown, .choices__list[aria-expanded] {
    background: var(--black);
    border: 1px solid var(--grey);
    color: var(--white);
    border-radius: 6px;
}

.choices__inner {
    position: relative;
    padding: 0px 285px 0px 16px;
    height: 40px;

    background: none;
    color: var(--white);
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}


#choices--custom-select-item-choice-1 {
    display: none;
    }
.choices__list--dropdown {
    word-break: unset;
}

#choices--custom-select-item-choice-2:hover, #choices--custom-select-item-choice-3:hover, .choices__inner:hover {
    background: rgba(255, 255, 255, 0.2);
    } 

.choices__item.choices__item--selectable::after {
    display: none;
}

.is-open.choices__list--dropdown {
    visibility: visible;
}

.is-open .choices__inner {
    border-radius: 6px;
}

.choices[data-type*=select-one]:after {
    content: "";
    border: none;
}

.choices[data-type*=select-one]::after {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    right: 13px;
    width: 15px;
    height: 15px;
    background-image: url('../img/is-close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;

}

.is-open.choices__inner::after {
    visibility: hidden;
}

.choices[data-type*=select-one].is-open::after {
    content: '';
    display: block;
    position: absolute;
    top: 22px;
    right: 16px;
    width: 15px;
    height: 15px;
    background-image: url('../img/open-select.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;

}



.choices__item .choices__item--choice .is-selected .choices__item--selectable .is-highlighted {
    display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background: none;
    border: 1px solid var(--grey);
}
.choices[data-type*=select-one] {
    cursor: pointer;
    width: 89%;
    margin: 0
    }

.gallery__form {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin-top: 168px;
}

/* Checkbox */
label {
    position: relative;
    cursor: pointer;
    padding-left: 18px;

}

.input-checked {
    display: none;

}


.input-checked+.input-span {
    position: absolute;
    top: 11px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--white);
    text-align: center;
}

.input-checked+.input-span::before {
    content: "";
    background-image: url('../img/checked.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.input-checked:checked+.input-span::before {
    opacity: 1;
}

/* Gallery swiper */
.gallery__slider {
    margin-right: 0;
    max-width: 1180px;
}
/* .gallery__swiper {
    
    max-width: 100%;
    
     
} */


.gallery__swiper-slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/Ховер\ \(галерея\).jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-clip: content-box;
    transition: opacity .5s ease;
}
.gallery__swiper-slide:hover::after {
    opacity: 1;
}

.prev {
    margin-right: 70px;
}

.gallery__pagination {
    margin-top: 25px;
    margin-left: 4px;
    margin-bottom: 28px;
    color: #f8f8fc;
}
.pagination {
    
    margin-right: 10px;
    text-align: center;
   
  }

.nav-btn {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background: #666666;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.nav-btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px / 2);
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    transform-origin: center;
}

.nav-btn.swiper-button-disabled {
    cursor: auto;
    background-color: rgba(102, 102, 102, 0.5);
}

.next::before {
    left: calc(50% - 7px / 2);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.prev::before {
    left: calc(50% - 7px / 2);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}



/* Cataloge */
.cataloge__left-content {
    margin-right: 100px;
}

.cataloge__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--dark-grey);
    margin-bottom: 5px;
}

.cataloge__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--dark-grey);
    width: 1027px;
    margin-bottom: 40px;
}



.cataloge__left-img {
    max-width: 750px;
}

.cataloge__left-content-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    color: var(--dark-grey);
}

.cataloge__left-content-descr {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--grey);
    width: 699px;
    margin-top: -18px;
}

.descr-span {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: var(--grey);
}

.accord-item {
    padding: 18px 0;
    border-bottom: 1px solid #cacaca;
}

.accord-item:focus {
    border-bottom: 1px solid var(--violet);
    border-top: 1px solid var(--violet);

}

.accord-item .ui-state-active {
    border-top: 1px solid var(--violet);
    margin-top: -18px;
    
    color: var(--purple);
}
.accord__content .ui-accordion-content-active {
    border-bottom: 1px solid var(--violet);
}

.accord-item:focus .accord__title {
    background-color: none;
    color: var(--purple);
}

.accord__list:first-child {
    border-top: 1px solid #cacaca;

}

.accord__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-grey);

}

.accord-item:hover .accord__title {
    background-color: var(--violet);
    color: var(--white);
    transition: color 0.3s ease, background-color 0.3s ease;

}

.accord__content-list {
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    color: var(--dark-grey);
    margin-right: 60px;
    margin-top: 25px;
    margin-bottom: 4px;
}

.accord__block-img {
    border: 2px solid #B7B7B7;
    padding: 12px;
}

.accord__block-content {
    margin-left: 24px;
}

.accord__block-content-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-grey);
}

.accord__block-content-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-grey);
}

.accord__block-content-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--purple);
}

.accord__item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    width: 800px;

}

.accord__icon {
    background-image: url('../img/close-accord.svg');
    background-repeat: no-repeat;
    background-color: #ECECEC;
    background-position: center;

    border-radius: 50%;

    width: 50px;
    height: 50px;
    display: block;
    transition-property: transform;
    transition: .2s ease-in-out;
}

.accord-item:hover .accord__icon {
    background-color: var(--light-purple);
}

.accord-item:active .accord__icon {
    transform: rotate(45deg);
    background-color: var(--light-purple);
}

.accord__item-inner.ui-state-active .accord__icon {
    transform: rotate(180deg);
}

/* Doing */
.doing__container {
    position: relative;
}

.doing__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--dark-grey);
    margin-top: -25px;
    margin-bottom: 15px;
}

.doing__swiper {
    max-width: 1638px;
}

.doing__swiper-wrapper {
    display: flex;
    align-items: center;

}

.doing__swiper-slide {
    background: #FFFFFF;
    border: 1px solid #CACACA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    max-width: 498px;
}



.doing__slide-block {
    padding: 13px 50px;
    align-items: flex-start;
    min-height: 370px;
    display: flex;
    flex-direction: column;
}

.doing__slide-block-span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey);
}

.doing__slide-block-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--dark-grey);
}

.doing__slide-block-descr {
    max-width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--dark-grey);
    margin: 0;
    margin-bottom: auto;
}

.doing__slide-block-link {

    max-width: fit-content;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--purple);
    margin-bottom: 43px;

    margin-top: auto;
    border-bottom: 1px solid var(--purple);
    width: 86px;

}

.doing__slide-block-link:active {
    color: var(--white);
    border-bottom: 1px solid var(--white);
    background: var(--purple);

}

.doing__slide-block-link:active {
    color: var(--purple);
    border-bottom: 1px solid var(--purple);

}

.doing__slide-block-link:active {
    color: var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);

}

.doing__pagination {
    display: flex;
    justify-content: space-between;
    right: 139px;
    top: 52%;
    z-index: 1000;
    position: absolute;
}

.doing-nav-btn {
    position: relative;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background: #ECECEC;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.doing-nav-btn::before {
    content: "";
    position: absolute;
    top: calc(49% - 12px / 2);
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    transform-origin: center;
}

.doing-nav-btn.swiper-button-disabled {
    cursor: auto;
    background-color: rgba(102, 102, 102, 0.5);
}

.doing-next::before {
    left: calc(50% - 7px / 2);
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}



/* Project */
.project {
    margin-bottom: 140px;
}

.project__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--dark-grey);
    margin-bottom: 0;
}

.project__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--dark-grey);
    max-width: 981px;
    margin-bottom: -6px;
}

.project-descr-link {
    color: var(--purple);
}

.project-descr-link:hover {
    color: white;
    background: #9D5CD0;
}

.project-descr-link:focus {
    color: var(--purple);
    background: none;
    border-bottom: 1px solid var(--purple);
}

.project-descr-link:focus {
    color: var(--violet);
    background: none;
    border-bottom: 1px solid var(--violet);
}

.project__swiper-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-grey);
}

.project__swiper-slide {
    background: #FFFFFF;
    border: 1px solid #CACACA;

    min-height: 100%;
    max-width: 450px;
}

.project__slide-img {
    text-align: center;
    min-height: 150px;
    margin-bottom: auto;

    transition: 1s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project__slide-img:hover {

    transition: 1s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.project__slide-img>img {
    margin-top: 48px;
}

.project__swiper {
    max-width: 1457px;
}

.project-prev {
    margin-right: 70px;
}

.project__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: -90px;
    margin-left: -1px;
}

.project-nav-btn {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background: #ECECEC;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.project-nav-btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px / 2);
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    transform-origin: center;
}

.project-nav-btn.swiper-button-disabled {
    cursor: auto;
    background-color: rgba(102, 102, 102, 0.5);
}

.project-next::before {
    left: calc(50% - 7px / 2);
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}

.project-prev::before {
    left: calc(50% - 7px / 2);
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}




/* Contacts */
.contact {
    border: 1px solid #CACACA;
    margin-bottom: -1px;
}

.contact__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 14px;
}

.contact__adress {
    margin-right: 97px;
}

.contact__adress-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-grey);
    margin-top: 15px;
    margin-bottom: -19px;
}

.contact__adress-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--dark-grey);
}

.form__fields {
    margin-right: 20px;
}

.input__form {
    padding: 9px 43px 9px 47px;
    border-radius: 100px;
    border: 1px solid #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--dark-grey);
}

.input__form:hover {
    background: #EAEAEA;
    border: 1px solid #333333;
}

.input__form::-webkit-input-placeholder {
    color: var(--grey);
}

.form {
    margin-right: 80px;
}

.form__btn {
    padding: 11px 43px;
    border: 2px solid var(--purple);
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--purple);
}

.contact__msg-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-grey);
    margin-bottom: 6px;
}

.contact__list-item:not(:last-child) {
    margin-right: 20px;
}

.contact__list {
    margin-top: 0;
}

/* Map */
.map {
    width: 100%;
    max-width: 1920px;
    min-height: 700px;
    height: 700px;
    margin-bottom: 17px;
}

/* Footer */
.footer {

    background: #000000;
    margin-top: -17px;

}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 50px;
}

.footer__soc-item:not(:last-child) {
    margin-right: 20px;
}

/* Media 1024*/